.App-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  min-height: 50vh;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.input-wrapper input {
  margin-right: 10px;
  margin-left: 10px;
}
